<%= semantic_form_for [:admin, @page] do |f| %>
  <%= f.inputs do %>

    <%= f.input :title %>

    <%= f.input :alias %>

    <%= f.input :position %>

    <%= f.input :service %>

    <div class="text_input custom">
      <%= f.label :body %>
      <%= f.cktext_area :body, :ckeditor => {:uiColor => "#ffcc00", :toolbar => "full", :height => 500} %>
    </div> 
  <% end %>  

  <%= f.actions  %>
<% end %>