<%= semantic_form_for [:admin, @special_offer] do |f| %>
  <%= f.inputs do %>

    <div class="select_input custom">
      <h4>Select item or page</h4>

      <div class="select fluid">
        <%= f.label :item %>
        <%= f.select :item_id, Item.actions_dropdown, :include_blank => true %>
      </div>
      
      <div class="or fluid">OR</div>  


      <div class="select fluid">
        <%= f.label :page %>
        <%= f.select :page_id, Page.for_dropdown, :include_blank => true %>
      </div>
    </div>  

  <% end %>   

  <%= f.inputs do %>  

    <%= f.input :title %>

    <%= f.input :available_till %>

    <%= f.input :position %>

    <p style="padding: 10px">
      <%= image_tag(@special_offer.picture_url) if @special_offer.picture? %>
    </p>  

    <p style="padding: 10px">
      <%= f.input :picture %>
      <%= f.hidden_field :picture_cache %>
    </p>  

    <% if @special_offer.picture? %>
      <p style="padding: 10px">
        <label>
          <%= f.check_box :remove_picture %>
          Remove picture
        </label>
      </p>
    <% end %>  

    <div class="text_input custom">
      <%= f.label :body %>
      <%= f.cktext_area :body, :ckeditor => {:uiColor => "#ffcc00", :toolbar => "full", :height => 500} %>
    </div> 
  <% end %>  

  <%= f.actions  %>
<% end %>