<%= semantic_form_for [:admin, @special_offer] do |f| %>
  <%= f.inputs do %>

    <div class="select_input custom">
      <h4>Select product or page</h4>

      <div class="select fluid">
        <%= f.label :product %>
        <%= f.select :product, Product.actions_dropdown, :include_blank => true %>
      </div>
      
      <div class="or fluid">OR</div>  


      <div class="select fluid">
        <%= f.label :page %>
        <%= f.select :page, Page.for_dropdown, :include_blank => true %>
      </div>
    </div>  

  <% end %>   

  <%= f.inputs do %>  

    <%= f.input :title %>

    <%= f.input :available_till %>

    <%= f.input :position %>

    <div class="text_input custom">
      <%= f.label :body %>
      <%= f.cktext_area :body, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "mini"} %>
    </div> 
  <% end %>  

  <%= f.actions  %>
<% end %>