<%= semantic_form_for [:admin, @item_feature.item, @item_feature] do |f| %>
  <%= f.inputs do %>

    <%= f.hidden_field :item_id %>

    <h2 class="custom">Item: <%= f.object.item.name %></h2>

    <%= f.input :name %>
    <%= f.input :value %>
    <%= f.input :text %>
    <%= f.input :position %>
  <% end %>  

  <%= f.actions  %>
<% end %>