<%= semantic_form_for [:admin, @info_block] do |f| %>
  <%= f.inputs do %>

    <%= f.input :page %>

    <%= f.input :place, :as => :select, :collection => admin_place_keys, :include_blank => false %>

    <%= f.input :title %>

    <%= f.input :text_link %>

    <p style="padding: 10px">
      <%= image_tag(@info_block.picture_url) if @info_block.picture? %>
    </p>  

    <p style="padding: 10px">
      <%= f.input :picture %>
      <%= f.hidden_field :picture_cache %>
    </p>  

    <% if @info_block.picture? %>
      <p style="padding: 10px">
        <label>
          <%= f.check_box :remove_picture %>
          Remove picture
        </label>
      </p>
    <% end %>  

    <div class="text_input custom">
      <%= f.label :body %>
      <%= f.cktext_area :body, :ckeditor => {:uiColor => "#ffcc00", :toolbar => "full", :height => 500} %>
    </div> 
  <% end %>  

  <%= f.actions  %>
<% end %>