<%= semantic_form_for [:admin, @item] do |f| %>
  <%= f.inputs do %>
    <%= f.input :category %> 

    <%= f.input :name %>
    <%= f.input :articul %>

    <%= f.input :description %>

    <div class="text_input custom">
      <%= f.label :body %>
      <%= f.cktext_area :body, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "mini"} %>
    </div> 

    <div class="text_input custom">
      <%= f.label :additional %>
      <%= f.cktext_area :additional, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "mini"} %>
    </div> 

    <%= f.input :price %> 
    <%= f.input :new_price %> 

    <%= f.input :new_item, :label => "New" %>
    <%= f.input :hit %>

    <%= f.input :action %>
    <%= f.input :action_available_till %> 

    <%= f.input :discount %>
    <%= f.input :discount_available_till %>

    <%= f.input :video_url %>

    <%= f.input :position %>

  <% end %>
    
  <%= f.actions %>
<% end %>