<%= semantic_form_for [:admin, @item_feature.item, @item_feature] do |f| %>
  <%= f.inputs do %>

    <%= f.hidden_field :item_id %>

    <h2 class="custom">Item: <%= f.object.item.name %></h2>

    <div style="margin-bottom: 10px; padding: 10px;">
      <%= link_to("Список всех характеристик этой позиции", admin_item_item_features_path(f.object.item),
            :style => "font-size: 15px"
          ) %>
    </div>    

    <%= f.input :name %>
    <%= f.input :value %>
    <%= f.input :position %>
  <% end %>  

  <%= f.actions  %>
<% end %>