<%= semantic_form_for [:admin, @item_picture.item, @item_picture] do |f| %>
  <%= f.inputs do %>

    <%= f.hidden_field :item_id %>

    <h2 class="custom">Item: <%= f.object.item.name %></h2>

    <div style="margin-bottom: 10px; padding: 10px;">
      <%= link_to("Список всех картинок этой позиции", admin_item_item_pictures_path(f.object.item),
            :style => "font-size: 15px"
          ) %>
    </div>    

    <div style="padding: 10px">
      <%= image_tag(@item_picture.picture_url(:middle)) if @item_picture.picture? %>
    </div>  

    <p style="padding: 10px">
      <%= f.input :picture %>
      <%= f.hidden_field :picture_cache %>
    </p>  

    <% if @item_picture.picture? %>
      <p style="padding: 10px">
        <label>
          <%= f.check_box :remove_picture %>
          Remove picture
        </label>
      </p>
    <% end %>  

    <%= f.input :main %>
  <% end %>  

  <%= f.actions  %>
<% end %>