<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Новый заказ на сайте <%= t("layouts.application.app_title") %></h1>
    
    <p><strong>Товар:</strong> <%= @order.item.name %></p>
    <p><strong>Артикул:</strong> <%= @order.item.articul %></p>
    <p><strong>Имя:</strong> <%= @order.customer_name %></p>
    <p><strong>Телефон:</strong> <%= @order.customer_name %></p>
    <p><strong>E-mail:</strong> <%= @order.customer_email %></p>
    <p><strong>Адрес:</strong> <br /><%= @order.customer_address %></p>
    <p><strong>Комментарий:</strong> <br /> <%= @order.customer_comment %></p>
    
  </body>
</html>