<%= semantic_form_for [:admin, @product] do |f| %>
  <%= f.inputs do %>
    <%= f.input :category %> 

    <%= f.input :name %>
    <%= f.input :alias %>
    <%= f.input :articul %>

    <div class="text_input custom">
      <%= f.label :description %>
      <%= f.cktext_area :description, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "mini"} %>
    </div> 

    <div class="text_input custom">
      <%= f.label :additional %>
      <%= f.cktext_area :additional, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "mini"} %>
    </div> 

    <%= f.input :price %> 
    <%= f.input :action_price %> 
    <%= f.input :action_available_till %> 

    <%= f.input :video_url %>

    <%= f.input :position %>

    <%= f.input :action %>

  <% end %>
    
  <%= f.actions %>
<% end %>